label{
    margin: 5px;
}
.page{
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0%;
    gap: 10px;
}
.attacks{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    gap: 10px;
}
.card{
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
}
.cardShop{
    background-color: rgb(193, 222, 158);
    display: flex;
    justify-content: space-around;
    gap: 10px;
    width: 80%;
}
.containorAccordion{
    width: 80%;
}
.shop{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 50px;
}
.buyButton{
    border-radius: 10px;
    width: 15%;
    box-shadow: 0px 0px 5px rgb(243, 214, 49);
}
.buyButton:hover{
    box-shadow: 0px 0px 20px gold;
}

.bad{
    background-color: rgb(238, 69, 7);
    border-radius: 10px;
}
.good{
    background-color: rgb(48, 165, 48);
    border-radius: 10px;
}
.resurces{
    display: flex;
    gap: 10px;
}